.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #4f005f;
  color: white;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  border-radius: 30px;
  position:fixed;
  top: 100px;
  left: 500px;
}

.button:hover{
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}